@model PagedList.IPagedList<SocialNetwork.ViewModels.UserViewModel>
@using PagedList.Mvc;

<div class="row">
    @{
        int counter = 1;

        foreach (var user in Model)
        {
            <div class="col-sm-3">
                @if (user.Avatar != null)
                {
                    <img class="user-image" src="~/Images/Avatars/@user.Avatar" />
                }
                else
                {
                    <img class="user-image" src="~/Content/img/default.gif" />
                }

                @if (ViewContext.RouteData.GetRequiredString("action") == "Discover")
                {
                    <button class="btn btn-success add-friend" data-userId="@user.UserID"><span class="glyphicon glyphicon-plus"></span></button>
                }
                else
                {
                    <button class="btn btn-danger remove-friend" data-userId="@user.UserID"><span class="glyphicon glyphicon-minus"></span></button>
                }

                <div class="text-center user-name">
                    <h4>@user.FirstName @user.LastName</h4>
                </div>

            </div>

            if (counter % 4 == 0)
            {
                <div class="clearfix custom-class"></div>
            }

            counter++;
        }
    }
</div>

<div id="removeFriendModal" class="modal fade" role="dialog">
</div>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page }))
